<p>First Name: <%= @order.first_name()%></p>
<p>Last Name: <%= @order.last_name() %></p>
<p>Topping: <%= @order.topping() %></p>
<p>quantity <%= @order.quantity() %></p>

<form method="post" action="/pizza-orders/<%= @order.id()%>/delete">

  <input type="submit" value="DELETE" />
</form>

<form method="post" action="/pizza-orders/<%= @order.id()%>/edit">

  <input type="submit" value="EDIT" />
</form>
